{% comment %}{% extends 'recicladoras/base.html' %}

##{% block title %}Detalle de Tipo de Material{% endblock %}

{% block content %}
/*<h2>{{ tipo_material.nombre }}</h2>
<p><strong>Descripción:</strong> {{ tipo_material.descripcion }}</p>
<p><strong>Tiempo de descomposición:</strong> {{ tipo_material.tiempo_descomposicion }} días</p>
<a href="{% url 'tipomaterial_update' tipo_material.pk %}" class="btn btn-warning">Editar</a>
<a href="{% url 'tipomaterial_delete' tipo_material.pk %}" class="btn btn-danger">Eliminar</a>
<a href="{% url 'tipomaterial_list' %}" class="btn btn-info">Volver a la lista</a> */
{% endblock %} {% endcomment %}
