{% extends 'recicladoras/base.html' %}

{% block title %}{% if form.instance.pk %}Editar Tipo de Material{% else %}Crear Tipo de Material{% endif %}{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Editar Tipo de Material{% else %}Crear Tipo de Material{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'recicladoras/tipomaterial_list' %}" class="btn btn-info">Cancelar</a>
</form>
{% endblock %}
