{% extends "administradores/base.html" %}
<title>{% block title %} Aprobar recicladoras {% endblock %}</title>

{% block content %}
<div class="head-title">
  <div class="left">
    <h1>Gestión de usuarios</h1>
    <ul class="breadcrumb">
      <li><a  href="{% url 'administradores:index' %}" >Administrador</a></li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li><a class="active"  href="{% url 'administradores:index' %}" >Usuarios</a></li>
    </ul>
  </div>
</div>

<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Usuarios Registrados</h3>
      <i class='bx bx-search'></i>
      <i class='bx bx-filter'></i>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha de Registro</th>
          <th>Total Recompensas</th>
          <th>Rol</th>
          <th>Acciones</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.id_usuario }}</td>
          <td><p>{{ usuario.nombre }} {{ usuario.ap_paterno }}</p></td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.fecha_registro }}</td>
          <td>{{ usuario.total_recompensas }}</td>
          <td>
            <span class="status {% if usuario.id_rol.nombre == 'Administrador' %}completed{% elif usuario.id_rol.nombre == 'Usuario' %}pending{% else %}rejected{% endif %}">
              {{ usuario.id_rol.nombre }}
            </span>
          </td>
          <td>
           <a href="{% url 'administradores:eliminar_usuario' usuario.id_usuario %}" onclick="return confirm('¿Deseas eliminar este usuario?')">
  Eliminar
</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<style>
table{
  margin-top: 30px;
}
</style>

{% endblock %}
