{% extends "administradores/base.html" %}
{% block title %}Usuarios{% endblock %}

{% block content %}
<div class="head-title">
  <div class="left">
    <h1>Gestión de usuarios</h1>
    <ul class="breadcrumb">
      <li><a  href="{% url 'administradores:index' %}" >Administrador</a></li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li><a class="active"  href="{% url 'administradores:index' %}" >Usuarios</a></li>
    </ul>
  </div>
</div>

<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Usuarios Registrados</h3>
      <i class='bx bx-search'></i>
      <i class='bx bx-filter'></i>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre completo</th>
                <th>Correo</th>
                <th>Fecha de registro</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nombre }} {{ usuario.ap_paterno }} {{ usuario.ap_materno }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.fecha_registro }}</td>
                <td>
                    {% if usuario.id_rol %}
                        {{ usuario.id_rol.nombre }}
                    {% else %}
                        Sin rol
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'administradores:editar_usuario' usuario.id_usuario %}"><i class='bx bxs-edit-alt' style="color: #67AE6E;"></i></a> |
                    <a href="{% url 'administradores:eliminar_usuario' usuario.id_usuario %}"><i class='bx bxs-trash-alt' style="color: #67AE6E;"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<style>
table{
  margin-top: 30px;
}
</style>
{% endblock %}