{% extends 'administradores/base.html' %}
{% load static %}

{% block content %}
<div class="head-title">
	<div class="left">
		<h1>Recicladoras registradas</h1>
		<ul class="breadcrumb">
			<li><a  href="{% url 'administradores:index' %}" >Administrador</a></li>
			<li><i class='bx bx-chevron-right'></i></li>
			<li><a class="active"  href="{% url 'administradores:index' %}" >Recicladoras</a></li>
		</ul>
	</div>
	<a href="{% url 'administradores:recicladora_crear' %}" class="btn-download">
		<i class='bx bx-plus'></i>
		<span class="text">Nueva recicladora</span>
	</a>
</div>

<div class="container mt-4">
    <div class="row">
        {% for r in recicladoras %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm section-card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        {{ r.nombre }}
                        <span>
                            <a href="{% url 'administradores:recicladora_editar' r.codigo_recicladora %}" class="btn btn-download" style="background-color: #67AE6E; color:#ffff; border-radius: 30px">
                                <i class="bi bi-pencil"></i>Editar
                            </a>
                            <a href="{% url 'administradores:recicladora_eliminar' r.codigo_recicladora %}" class="btn btn-download" style="background-color: #328E6E; color:#ffff; border-radius: 30px" onclick="return confirm('¿Estás seguro de eliminar esta recicladora?');">
                                Eliminar
                            </a>
                        </span>
                    </h5>
                    <p class="card-text">
                        <strong>Dirección:</strong> {{ r.calle }}, {{ r.colonia }}, {{ r.ciudad }}<br>
                        <strong>Código Postal:</strong> {{ r.codigo_postal }}<br>
                        <strong>Teléfono:</strong> {{ r.numero_telefonico }}
                    </p>
                    <hr>
                    <p class="card-text">
                        <strong>Propietario:</strong> {{ r.propietario.nombre }} {{ r.propietario.ap_paterno }} {{ r.propietario.ap_materno }}<br>
                        <strong>Email:</strong> {{ r.propietario.correo }}
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay recicladoras registradas.</p>
        {% endfor %}
    </div>
</div>

<style>
.section-card {
    padding: 1rem;
    border: none; /* <-- Esto quita el borde */
    border-radius: 15px;
    background: #f8f9fa;
    box-shadow: 0 6px 15px rgba(100, 100, 100, 0.05);
    transition: box-shadow 0.3s ease;
}

.section-card:hover {
    box-shadow: 0 8px 25px rgba(100, 100, 100, 0.1);
}
</style>

{% endblock %}

