{% load static %}
<header>
  <nav class="navbar">
    <div class="nav-container container">

      <!-- Logo -->
      <a class="logo" href="{% url 'usuarios:index' %}">
        <i class="bi bi-recycle me-2 fs-3" ></i>
        EcoGuía
      </a>

      <!-- Botón hamburguesa móvil -->
      <button class="hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú colapsable -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav-links">
          <li>
            <a class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'usuarios:index' %}">Inicio</a>
          </li>
          <li>
            <a class="{% if request.resolver_match.url_name == 'contenido_educativo' %}active{% endif %}" href="{% url 'usuarios:contenido_educativo' %}">Contenido Educativo</a>
          </li>
          <li>
            <a class="{% if request.resolver_match.url_name == 'mostrarentregas' %}active{% endif %}" href="{% url 'usuarios:mostrarentregas' %}">Historial</a>
          </li>
          <li>
            <a href="#">Acerca de</a>
          </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'recicladoras:clasificacion_materiales' %}">clasificaciones</a>
                </li>
        </ul>
      </div>

      <!-- Botones de usuario -->
      <div class="d-flex ms-auto">
        {% if request.user %}
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user.nombre }} {{ request.user.ap_paterno }}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'usuarios:perfil_usuario' %}">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar Sesión</a></li>
            </ul>
          </div>
        {% else %}
          <a href="{% url 'usuarios:login' %}" class="btn btn-outline">Inicias sesion</a>
          <a href="{% url 'usuarios:registro' %}" class="btn">Registrarse</a>
        {% endif %}
      </div>

    </div>
  </nav>
</header>
