<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecoguia - Web Oficial{% endblock %}</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "usuarios/partials/header.html" %}

    {% block content %}
    {% endblock %}

    {% include "usuarios/partials/footer.html" %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
