<!-- Arista Pérez Graciela -->
{% extends "usuarios/base.html" %}
{% block title %}Detalles de {{ punto.nombre }}{% endblock %}

{% block content %}
<div class="profile-container">
  <!-- Nombre del punto de reciclaje -->
   <div class="d-flex align-items-center gap-2">
    <div class="btn-center">
      <h2 class="mb-3" style="color: #67AE6E;"> <i class='bx bx-recycle'></i> {{ punto.nombre }}</h2>
    </div>
  </div>

  <!-- Descripción -->
  <div class="d-flex align-items-center gap-2">
    <p class="mb-0">{{ punto.descripcion }}</p>
  </div>

  <!-- Ubicación y ademas al seleccionar te lleva a la ubicacion de google maps -->
  <div class="d-flex align-items-center gap-2">
  <p class="mb-0">
    <i class='bx bx-location-plus icon-style'></i>
    <a href="https://www.google.com/maps/search/?api=1&query={{ punto.ubicacion|urlencode }}" target="_blank" style="text-decoration: none; color: inherit;">
    {{ punto.ubicacion }}
    </a>
  </p>
  </div>

  <!-- Horario entrada -->
  <div class="d-flex align-items-center gap-2">
    <p class="mb-0"><i class='bx bx-time-five icon-style' ></i> {{ punto.horario_entrada }} - {{ punto.horario_salida }}</p>
  </div>

  <!-- Horario salida -->
  <div class="d-flex align-items-center gap-2">
    <p class="mb-0"><i class='bx bx-buildings icon-style'></i>{{ punto.ciudad }}</p>
  </div>

  <!-- Telefono -->
  <div class="d-flex align-items-center gap-2">
    <p class="mb-0"><i class='bx bx-phone icon-style'></i>{{ punto.telefono }}</p>
  </div>

  <!-- Materiales aceotados  -->
  <h4 class="mt-4">Materiales que acepta:</h4>
  <div class="grid-container">
    {% for material in punto.materiales %}
      <div class="section-card">
        <h5 style="color: #67AE6E;">{{ material.nombre }}: </h5>
        {% if material.imagen %}
          <img src="{{ material.imagen }}" alt="{{ material.nombre }}" style="max-width: 100%; height: auto;">
        {% endif %}
        <p> {{ material.descripcion }}</p>
        <p> {{ material.tiempo_descomposicion }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="btn-center">
    <a href="{% url 'usuarios:html_recicladoras_materiales' %}" class=" btn">Volver</a>
  </div>
</div>
<style>
.profile-container {
    max-width: 800px;
    margin: 6rem auto;
    padding: 3rem 2rem;
    background-color: var(--white);
    border-radius: 0.75rem;
    /* box-shadow: 0 4px 25px rgba(0, 0, 0, 0.06); */
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    font-family: 'Poppins', sans-serif;
    margin-top: 8rem;
}
.btn{
    background-color: var(--primary-color);
    display: inline-block;
    padding: 12px 30px;
    color: var(--white);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s linear; 
    margin-top: 20px;
}

.btn:hover{
    background-color: var(--primary-color-dark);
    transform: translateY(-3px);
}

.btn-outline{
  margin-top: 10px;
  padding: 6px 16px;      /* Menos espacio interno */
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn-outline:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-center {
  display: flex;
  justify-content: center;
}

.icon-style {
  font-size: 1.5rem;       /* Tamaño del ícono */
  color: #67AE6E;          /* Color verde a juego con tus botones */
}

p {
  text-align: justify;
}
</style>
{% endblock %}
