<!-- Arista Pérez Graciela -->
<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'administradores:index' %}">
            AdminPanel
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/administradores/' %}active{% endif %}" href="{% url 'administradores:index' %}">
                        <i class="bi bi-house-door">Home</i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/administradores/recicladoras/' %}active{% endif %}" href="{% url 'administradores:ver_recicladoras' %}">
                        <i class="bi bi-recycle"></i> Recicladoras
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/administradores/contenido/' %}active{% endif %}" href="{% url 'administradores:contenido_admin' %}">
                        <i class="bi bi-book"></i> Contenidos Educativos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/administradores/usuarios/' %}active{% endif %}" href="{% url 'administradores:listar_usuarios' %}">
                        <i class="bi bi-people"></i> Usuarios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/administradores/recicladoras/aprobar/' %}active{% endif %}" href="{% url 'administradores:aprobar_recicladoras' %}">
                        <i class="bi bi-recycle"></i> Aprobar Recicladoras
                    </a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == '/administradores/backup/' %}active{% endif %}" href="{% url 'administradores:backup' %}">
                        <i class="bi bi-recycle"></i> Restaurar base de datos
                    </a>

            </ul>
        </div>
    </div>
</header>
